* { box-sizing: border-box; }

body { margin: 0; }

:root {
  --shadow-elevation-medium: -0.2px 0.6px 0.7px hsl(var(--shadow-color) / 0.36),
    -0.8px 2px 2.4px -0.8px hsl(var(--shadow-color) / 0.36),
    -1.9px 4.9px 5.9px -1.7px hsl(var(--shadow-color) / 0.36),
    -4.6px 11.9px 14.4px -2.5px hsl(var(--shadow-color) / 0.36);
  --shadow-elevation-high: -0.2px 0.6px 0.7px hsl(var(--shadow-color) / 0.34),
    -1.4px 3.5px 4.2px -0.4px hsl(var(--shadow-color) / 0.34),
    -2.5px 6.5px 7.8px -0.7px hsl(var(--shadow-color) / 0.34),
    -4.1px 10.7px 12.9px -1.1px hsl(var(--shadow-color) / 0.34),
    -6.6px 17px 20.5px -1.4px hsl(var(--shadow-color) / 0.34),
    -10.4px 26.6px 32.1px -1.8px hsl(var(--shadow-color) / 0.34),
    -15.7px 40.5px 48.9px -2.1px hsl(var(--shadow-color) / 0.34),
    -23.2px 59.6px 72px -2.5px hsl(var(--shadow-color) / 0.34);
}

