@import "tailwindcss";
@import "tw-animate-css";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-manrope);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-frame: var(--frame);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-ios-secondary: rgb(161, 161, 161);
  --color-ios-divider: rgb(52, 52, 52);
  --color-ios-card-bg: rgb(28, 28, 30);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --border-width-0_5: 0.5px;
  --color-overlay: var(--overlay);
  --color-gray-50: oklch(0.985 0 0);
  --color-gray-100: oklch(0.97 0 0);
  --color-gray-200: oklch(0.922 0 0);
  --color-gray-300: oklch(0.87 0 0);
  --color-gray-400: oklch(0.708 0 0);
  --color-gray-500: oklch(0.556 0 0);
  --color-gray-600: oklch(0.439 0 0);
  --color-gray-700: oklch(0.371 0 0);
  --color-gray-800: oklch(0.269 0 0);
  --color-gray-900: oklch(0.205 0 0);
  --color-gray-950: oklch(0.145 0 0);

  --font-page-heading:
    var(--page-heading-font-family), var(--font-manrope), ui-sans-serif,
    system-ui, sans-serif;
  --font-page-body:
    var(--page-body-font-family), var(--font-manrope), ui-sans-serif, system-ui,
    sans-serif;

  --color-page-background: var(--page-background-color);
  --color-page-text: var(--page-text-color);
  --color-page-widget-border: var(--page-widget-border-color);
  --color-page-primary-button-text: var(--page-primary-button-text-color);
  --color-page-primary-button-border: var(--page-primary-button-border-color);
  --color-page-primary-button-background: var(--page-primary-button-background);
  --color-page-secondary-button-text: var(--page-secondary-button-text-color);
  --color-page-secondary-button-border: var(
    --page-secondary-button-border-color
  );
  --color-page-divider: var(--page-divider-color);
  --color-page-heading-text: var(--page-heading-text-color);
  --color-page-body-text: var(--page-body-text-color);
  --color-page-body-muted-text: var(--page-body-muted-text-color);
  --color-page-icon: var(--page-icon-color);
  --color-page-icon-box-border: var(--page-icon-box-border-color);
  --color-page-input-placeholder: var(--page-input-placeholder-color);
  --color-page-input-border: var(--page-input-border-color);
  --color-page-input-text: var(--page-input-text-color);
  --color-page-input-icon: var(--page-input-icon-color);
  --color-page-card-text: var(--page-card-text-color);
  --color-page-card-border: var(--page-card-border-color);
  --color-page-card-icon: var(--page-card-icon-color);

  --radius-page-widget: calc(var(--page-widget-border-radius));
  --radius-page-widget-1-2: calc(var(--page-widget-border-radius) / 2);
  --radius-page-widget-inner: calc(
    (var(--page-widget-border-radius) - var(--page-widget-border-width))
  );
  --radius-page-widget-px: calc((var(--page-widget-border-radius) - 1px));
  --radius-page-widget-1: calc((var(--page-widget-border-radius) - 4px));
  --radius-page-widget-2: calc((var(--page-widget-border-radius) - 8px));
  --radius-page-widget-3: calc((var(--page-widget-border-radius) - 12px));
  --radius-page-widget-4: calc((var(--page-widget-border-radius) - 16px));
  --radius-page-widget-5: calc((var(--page-widget-border-radius) - 20px));

  --border-width-page-widget-width: var(--page-widget-border-width);
  --border-width-page-primary-button-width: var(
    --page-primary-button-border-width
  );
  --border-width-page-secondary-button-width: var(
    --page-secondary-button-border-width
  );
  --border-width-page-input-width: var(--page-input-border-width);
  --border-width-page-card-width: var(--page-card-border-width);
  --border-width-page-icon-box-width: var(--page-icon-box-border-width);

  --font-weight-page-heading-weight: var(--page-heading-font-weight);
  --font-weight-page-body-weight: var(--page-body-font-weight);
  --font-weight-page-primary-button-weight: var(
    --page-primary-button-font-weight
  );
  --font-weight-page-secondary-button-weight: var(
    --page-secondary-button-font-weight
  );

  --backdrop-blur-page-widget: var(--page-widget-backdrop-blur);
  --backdrop-blur-page-primary-button: var(--page-primary-button-backdrop-blur);
  --backdrop-blur-page-secondary-button: var(
    --page-secondary-button-backdrop-blur
  );
  --backdrop-blur-page-card: var(--page-card-backdrop-blur);
}

:root {
  --radius: 0.375rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.9491 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --frame: oklch(0.973 0 89.876);

  @media (prefers-color-scheme: dark) {
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.205 0 0);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.205 0 0);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(100 0 0);
    --primary-foreground: oklch(0.205 0 0);
    --secondary: oklch(0.269 0 0);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    --accent: oklch(0.269 0 0);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.556 0 0);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.556 0 0);
    --frame: oklch(0.203, 0.035, 285.102);
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  body {
    @apply bg-background text-foreground;
    font-family: ".SFNSText", "SFProText-Regular", "SFUIText-Regular", ".SFUIText",
      Helvetica, Arial, sans-serif;
  }

  @keyframes wobble {
    0%, 100% {
      transform: rotate(0deg);
    }
    15% {
      transform: rotate(-5deg);
    }
    30% {
      transform: rotate(5deg);
    }
    45% {
      transform: rotate(-3deg);
    }
    60% {
      transform: rotate(3deg);
    }
    75% {
      transform: rotate(-1deg);
    }
  }

  .admin-container-shell {
    @apply flex flex-row flex-auto border-t border-border md:shadow-[0_3px_6px_-2px_rgb(0_0_0/2%),0_1px_1px_rgb(0_0_0/4%)] md:dark:shadow-[0_4px_4px_-1px_rgb(0_0_0/4%),0_1px_1px_rgb(0_0_0/8%)] md:mt-2 md:mb-2 md:mr-2 md:border-0.5 md:rounded-lg bg-background overflow-hidden;
  }

  .h1 {
    @apply scroll-m-20 text-3xl font-semibold tracking-tight lg:text-4xl leading-[1.2];
  }

  .h2 {
    @apply scroll-m-20 text-3xl font-semibold tracking-tight transition-colors leading-[1.2];
  }

  .h3 {
    @apply scroll-m-20 text-2xl font-semibold tracking-tight leading-[1.2];
  }

  .h4 {
    @apply scroll-m-20 text-xl font-semibold tracking-tight leading-[1.2];
  }

  .h5 {
    @apply font-semibold scroll-m-20 text-lg tracking-tight leading-[1.2];
  }

  .h6 {
    @apply font-semibold scroll-m-20 text-base tracking-tight leading-[1.2];
  }

  .admin-container {
    @apply container mx-auto max-w-7xl flex-1 px-4 md:px-10;
  }

  .bg-page-background-2 {
    background: var(--page-background-2);
  }

  .bg-page-widget-background {
    background: var(--page-widget-background);
  }

  .bg-page-icon-box-background {
    background: var(--page-icon-box-background);
  }

  .bg-page-primary-button-background {
    background: var(--page-primary-button-background);
  }

  .bg-page-secondary-button-background {
    background: var(--page-secondary-button-background);
  }

  .bg-page-input-background {
    background: var(--page-input-background);
  }

  .bg-page-card-background {
    background: var(--page-card-background);
  }

  .bg-page-card-secondary-background {
    background: var(--page-card-secondary-background);
  }

  .shadow-page-widget {
    box-shadow: var(--page-widget-shadow);
  }

  .shadow-page-primary-button {
    box-shadow: var(--page-primary-button-shadow);
  }

  .shadow-page-secondary-button {
    box-shadow: var(--page-secondary-button-shadow);
  }

  .shadow-page-card {
    box-shadow: var(--page-card-shadow);
  }

  .shadow-page-icon-box {
    box-shadow: var(--page-icon-box-shadow);
  }

  .shadow-page-input {
    box-shadow: var(--page-input-shadow);
  }

  .border-page-widget {
    border: var(--page-widget-border-width) solid
      var(--page-widget-border-color);
  }

  .border-page-primary-button {
    border: var(--page-primary-button-border-width) solid
      var(--page-primary-button-border-color);
  }

  .border-page-secondary-button {
    border: var(--page-secondary-button-border-width) solid
      var(--page-secondary-button-border-color);
  }

  .border-page-icon-box {
    border: var(--page-icon-box-border-width) solid
      var(--page-icon-box-border-color);
  }

  .border-page-input {
    border: var(--page-input-border-width) solid var(--page-input-border-color);
  }

  .border-page-card {
    border: var(--page-card-border-width) solid var(--page-card-border-color);
  }

  .rounded-page-widget-block {
    @apply rounded-page-widget-3;
  }

  .divider {
    @apply my-4 h-4 whitespace-nowrap flex flex-row items-center self-stretch;
  }

  .divider:before {
    content: "";
    @apply bg-border grow h-px w-full;
  }

  .divider:after {
    content: "";
    @apply bg-border grow h-px w-full;
  }

  .divider:not(:empty) {
    @apply gap-4;
  }

  .input-group {
    @apply flex w-full items-stretch;
  }

  .input-group > .input {
    @apply isolate;
  }

  .input-group > span {
    @apply z-10 flex items-center bg-input text-muted-foreground border border-input shadow-input rounded-[4px] px-4;
  }

  .input-group > :first-child,
  .input-group > :first-child * {
    border-right-width: 0 !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }

  .input-group > *:not(:first-child):not(:last-child),
  .input-group > *:not(:first-child):not(:last-child) * {
    border-right-width: 0 !important;
    border-radius: 0 !important;
  }

  .input-group > :last-child,
  .input-group > :last-child * {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
  }
}
