/* Markers page styles */
.scope {
  position: relative;
}

:global(#progress) {
  position: fixed;
  left: 0;
  top: 0;
  width: 36px;
  height: 100vh;
  z-index: 10;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.2s ease-out;
}

:global(#progress.show) {
  opacity: 1;
}

:global(.progress-bar) {
  width: 100%;
  background-color: #ff6e50;
}

:global(.progress-bookmark) {
  font-size: var(--size-xsmall);
  position: fixed;
  left: 0;
  display: flex;
  z-index: 50;
  cursor: pointer;
  text-decoration: none;
  border-bottom: none;
  color: var(--black);
  transform: translateX(-100%);
  transition: transform 0.2s ease-out;
}

:global(.progress-bookmark.show) {
  transform: translateX(0);
}

:global(.progress-bookmark .dot) {
  height: 1px;
  transition: transform 0.2s ease-in;
}

:global(.progress-bookmark.chaptermark .dot) {
  width: 46px;
  height: 12px;
  border-bottom: 1px solid var(--foreground);
  opacity: 1;
}

:global(.progress-bookmark .text) {
  margin-left: 5px;
  transition: opacity 0.2s ease-in;
  width: calc(var(--margin-left) - 60px);
}

:global(.progress-bookmark .text span) {
  color: var(--foreground);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: inherit;
}

:global(.progress-bookmark.chaptermark .text) {
  opacity: 0;
}

:global(.progress-bookmark:hover .text),
:global(.progress-bookmark:hover img),
:global(.progress-bookmark.flash .text),
:global(.progress-bookmark.flash img),
:global(.progress-bookmark.chaptermark:hover .text),
:global(.progress-bookmark.chaptermark.flash .text) {
  opacity: 1;
}

@media (max-width: 1248px) {
  :global(.progress-bookmark.chaptermark .dot) {
    width: 56px;
  }
}

@media (max-width: 1024px) {
  :global(#progress) {
    width: 24px;
  }

  :global(.progress-bookmark) {
    width: 24vw;
    font-size: var(--size-xxsmall);
  }

  :global(.progress-bookmark.chaptermark .dot) {
    width: 32px;
  }

  :global(.progress-bookmark .text) {
    width: 60%;
  }
}

@media (max-width: 820px) {
  :global(#progress) {
    width: 10px;
  }

  :global(.chapter-indicators) {
    display: none;
  }
}
